In [1]:
import pandas as pd
print(pd.__version__)

2.2.3

In [2]:
### download dataset
# !wget 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'

In [3]:
### read datafile
data = pd.read_csv("car_fuel_efficiency.csv")
print(data.shape)

(9704, 11)

In [4]:
data.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [5]:
data.fuel_type.nunique()

2

In [6]:
print("Size of missing values", data.isnull().sum())

Size of missing values engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [7]:
data[data['origin'] == 'Asia'].sort_values(by = 'fuel_efficiency_mpg', ascending=False)['fuel_efficiency_mpg'].head(1)

9387    23.759123
Name: fuel_efficiency_mpg, dtype: float64

In [8]:
### median of horsepower
print("median of horsepower", data['horsepower'].mean())

median of horsepower 149.65729212983547

In [9]:
print("The most frequent value in horsepower is:", data['horsepower'].value_counts())

The most frequent value in horsepower is: horsepower
152.0    142
145.0    141
151.0    134
148.0    130
141.0    130
        ...
40.0       1
57.0       1
245.0      1
252.0      1
61.0       1
Name: count, Length: 192, dtype: int64

In [10]:
data['horsepower'] = data['horsepower'].fillna(152.0)

In [11]:
data['horsepower'].mean()

np.float64(149.82821516900248)

In [12]:
## CARS
new_data = data[data['origin']=='Asia'][['vehicle_weight', 'model_year']].head(7)

In [13]:
new_data

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [14]:
import numpy as np
X = np.array(new_data)

In [15]:
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [16]:
XTX = X.T.dot(X)

In [17]:
XTX_inv = np.linalg.inv(XTX)

In [18]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [19]:
w = XTX_inv.dot(X.T).dot(y)

In [20]:
w.sum()

np.float64(0.5187709081074016)